asgiref==3.8.1
Django==5.1
django-allauth==64.1.0
django-environ==0.11.2
django-stubs==5.0.4
django-stubs-ext==5.0.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
inflection==0.5.1
packaging==24.1
psycopg==3.2.1
PyJWT==2.9.0
pytz==2024.2
PyYAML==6.0.2
sqlparse==0.5.1
types-PyYAML==6.0.12.20240808
typing_extensions==4.12.2
uritemplate==4.1.1
